In [ ]:
Titanik Datensatz

import os
import pandas as pd
import seaborn as sns
import numpy as np

%matlablib inline

INPUT_FILE 0 os.path.join("input")