<img style="width:30%; float:right" src="images/dbu_logo.png">

# Lists & Dictonaries

Die Datentypen `list` und `dict` bieten die einfachste Möglichkeit, um in Python zusamengesetzte Objekte zu erzeugen. Listen sind bündeln eine Reihe von Elementen und bewahren dabei die Reihenfolge. Dictonaries speichern Informationen als Kombination eines ein-eindeutigen Schlüssels und eines dazugehörigen Wertes (_key-value_). Die beiden Strukturen können kombiniert werden, in dem wir beispielsweise mehrere Dictonaries in einer Liste zusammenfassen.

**Literaturempfehlung:**

Kapitel 4 und 5 von [Al Sweigart (2015): _Automate the Boring Stuff with Python_](https://ebookcentral.proquest.com/lib/dbuas/reader.action?docID=4503140)

## List

In [1]:
beispiel_liste = [1, 2, 5]
beispiel_liste

[1, 2, 5]

In [2]:
zweites_beispiel = ["a", 12, 0.1]
zweites_beispiel

['a', 12, 0.1]

**Achtung:** Gemischte Listen können häufig zu Problemem führen.

In [3]:
string_beispiel = ["eins", "zwei", "drei"]
string_beispiel

['eins', 'zwei', 'drei']

In [4]:
string_beispiel[0]

'eins'

In [5]:
string_beispiel[1]

'zwei'

**Nummerierung innerhalb einer Liste:**

```
|------|------|------|
| eins | zwei | drei |
|------|------|------|
0      1      2      3
```

In [6]:
string_beispiel[0:2]

['eins', 'zwei']

**Rückwertige Nummerierung innerhalb einer Liste:**

```
 |------|------|------|
 | eins | zwei | drei |
 |------|------|------|
-3     -2     -1      
```

In [7]:
string_beispiel[-1]

'drei'

In [8]:
string_beispiel[-2:]

['zwei', 'drei']

In [9]:
string_beispiel.append("vier")
string_beispiel

['eins', 'zwei', 'drei', 'vier']

In [10]:
del(string_beispiel[0])
string_beispiel

['zwei', 'drei', 'vier']

In [11]:
string_beispiel.remove("drei")
string_beispiel

['zwei', 'vier']

## Dictonaries

In [12]:
modul1 = {"id": "dsba.01", "name": "Einführung in das Studium"}
modul1

{'id': 'dsba.01', 'name': 'Einführung in das Studium'}

In [13]:
modul1["start_date"] = "Nov 2019"
modul1

{'id': 'dsba.01',
 'name': 'Einführung in das Studium',
 'start_date': 'Nov 2019'}

In [14]:
del(modul1["start_date"])
modul1

{'id': 'dsba.01', 'name': 'Einführung in das Studium'}

In [15]:
modul2 = dict(id="dsba.02", name="Lab: Python und Pandas")
modul2

{'id': 'dsba.02', 'name': 'Lab: Python und Pandas'}

In [16]:
modul3 = dict(
    id="dsba.03",
    name="Einführung in die IT"
)

In [17]:
modul_liste = [modul1, modul2, modul3]
modul_liste

[{'id': 'dsba.01', 'name': 'Einführung in das Studium'},
 {'id': 'dsba.02', 'name': 'Lab: Python und Pandas'},
 {'id': 'dsba.03', 'name': 'Einführung in die IT'}]

In [18]:
for modul in modul_liste:
    print("Das Modul", modul["id"], "heißt:", modul["name"])

Das Modul dsba.01 heißt: Einführung in das Studium
Das Modul dsba.02 heißt: Lab: Python und Pandas
Das Modul dsba.03 heißt: Einführung in die IT

## Aufgaben

## Aufgabe 1


In der offiziellen Python Dokumentation gibt es eine Übersicht über Funktionen, welche spezielle für Lisetn zur Verfügung stehen:

https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists

Bitte ließ Dir zunächst diese Liste durch um ein bessers Verständnis davon zu bekommen, wie Vielfältig die Arbeit mit Listen ist.

Sortiere anschließend die folgende Liste `aufgabe1`.

In [19]:
aufgabe1 = [1, 4, 2, 6, 0]

## Aufgabe 2

1. Bitte nehme die folgende Liste `aufgabe2` und füge Ihr zunächst ein Element `"d"` hinzu.
2. Enferne anschließend das ELement `"b"`

In [20]:
aufgabe2 = ["a", "b", "c"]

## Aufgabe 3

Wir arbeiten mit `modul_liste` weiter.

1. Füge ein viertes Modul (als `dict`) hinzu, dessen `id` ist "dsba.04" und der `name` ist "Einführung in die Mathematik".

## Aufgabe 4

In `modul_liste` haben wir eine verschachtelte Struktur. Bitte kombiniere die Möglichkeit, Elemente mit `[ ]` zu selektieren, um zunächst den zweiten Kurs und dann dessen Namen auszuwählen und mit `print()` zurückzugeben.